.img-box{
    margin: auto;
    text-align: center;
}
.img-box img{
    margin: auto;
    text-align: center;
}
.img-box h6{
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    color: rgb(106, 106, 106);
}
.loading{
    text-align: center;
    color: blue;
    padding-left: auto;
    padding-right: auto;
    width: fit-content;
    margin: auto;
}
.pagination{
    width: fit-content;
    margin: auto;
    margin-top: 1.5em;
}
.selected{
    border: 1px solid blue;
    border-radius: 10px;
    background:rgb(236, 236, 255);
}
.header-dark{
    background-color: black;
}

